@import "./fonts"

.preload *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important
  transition: none !important

html,
body
  height: 100%
  background: #FFFFFF
  font:
    family: "Fredoka"
    weight: 400
    size: 16px

body._lock
  overflow: hidden

.global__wrapper
  min-height: 100%
  width: 100%
  display: flex
  flex-flow: column nowrap
  position: relative
  background: #FFBBBB
  background-image: url(../img/new-large-triangles.svg)
  overflow: hidden
::-webkit-scrollbar
  width: 12px
  height: 6px
::-webkit-scrollbar-track
  background-color: #FFFFFF
::-webkit-scrollbar-thumb
  border-radius: 100px
  border: 3px solid transparent
  background-clip: content-box
  background-color: #FFBBBB

html, body
  scrollbar-color: #FFBBBB #FFFFFF
  scrollbar-width: thin

/*
 * HEADER SECTION
 */

@import "./header"

/*
 * SLIDER CONNECTION
 */

@import "./slider"

/*
 * MAIN SECTION
 */

@import "./main"

/*
 * FOOTER SECTION
 */

@import "./footer"

/*
 * CSS FOR JS  CODE
 */

body._pc
  .menu__uplink
    &:hover::after
      width: 100%
    &:hover .menu__sub-list
      transform: scale3d(1, 1, 1)
  .menu__downlink:hover
    background-color: #E5A8A8

body._touch
  .menu__arrow
    position: absolute
    width: 12px
    height: 12px
    top: 12px
    left: -20px
    transform: rotate(45deg)
    transform-origin: center
    transition: transform 0.15s linear
    &::after
      content: ""
      width: 12px
      height: 5px
      position: absolute
      top: 0
      right: 0
      background: #000000
      border-radius: 15px
      transform-origin: center
      transition: background 0.15s linear
    &::before
      content: ""
      width: 5px
      height: 12px
      position: absolute
      top: 0
      right: 0
      background: #000000
      border-radius: 15px
      transform-origin: center
      transition: background 0.15s linear

  li._active
    .menu__sub-list
      transform: scale3d(1, 1, 1)
    .menu__arrow
      transform: rotate(135deg)
      transform-origin: center

  .menu__downlink:hover
    background-color: #E5A8A8

@import "./queries"
