extends layout/layout

block variables
  - var pageTitle = "Amazing news"

block title
  title Amazing news

block content
  include layout/_header
  include layout/_slider
  include layout/_main
  include layout/_footer

block scripts
  script(src="./js/app.min.js")
