footer.footer
  .footer__wrapper

    .footer__info
      .footer__title
        | Contact info
      .footer__text
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas soluta molestias non dignissimos facere natus tempora id nihil libero omnis quisquam temporibus, quo, officia quia iusto consectetur fugit ducimus cum!
      .footer__contacts
        .footer__contact
          img(src="./img/map-pin.svg", alt="")
          | #[span Adress:] #[a(href="https://www.google.com/maps/place/Sarphatipark+106,+1073+EC+Amsterdam,+Netherlands/@52.3536736,4.8953845,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x47c6098dc93755f3:0xd1a9155e940cf8df!2sSarphatipark+106,+1073+EC+Amsterdam,+Netherlands!3b1!8m2!3d52.3536703!4d4.8975732!3m4!1s0x47c6098dc93755f3:0xd1a9155e940cf8df!8m2!3d52.3536703!4d4.8975732") Sarphatipark 106, 1073 EC Amsterdam, Netherlands]
        .footer__contact
          img(src="./img/phone.svg", alt="")
          | #[span Phone:] #[a(href="tel:+78005553535") +7 (800) 555-35-35]
        .footer__contact
          img(src="./img/mail.svg", alt="")
          | #[span Mail:] #[a(href="mailto:info@lapard1n.com") info@lapard1n.com]

    .footer__line

    form(action="" method="" name="client-request" enctype="text/plain").footer__input-case#input-case
      fieldset(name="client-request" form="input-case").footer__container
        //- legend.footer__container-name Contact us
        .footer__case-info
          .footer__user-info
            input(type="text" name="user-name" id="user-name" form="input-case" autocomplete="off" required).footer__input
            label(for="user-name").footer__label Your Name
          span &
          .footer__user-info
            input(type="email" name="user-mail" id="user-mail" form="input-case" autocomplete="off" required).footer__input
            label(for="user-mail").footer__label Your Email
        .footer__user-theme
          input(type="text" name="user-theme" id="user-theme" form="input-case" autocomplete="off").footer__input
          label(for="user-theme").footer__label Your Title
        .footer__user-message
          textarea(name="user-message" id="user-message" form="input-case" rows="10" autocomplete="off").footer__input
          label(for="user-message").footer__label Your Message
      .footer__buttons
        input(type="submit" name="send" value="Send" form="input-case").footer__submit
        buttun(type="reset" name="reset" form="input-case").footer__submit Reset

  .footer__copyright
    .footer__copyright-wrapper
      .footer__copyright-info
        | Copyright © 2022. All right a reserved.
      .footer__copyright-info
        | Desygned by #[a(href="https://github.com/lapard1n") lapard1n]
