header.header
  .header__wrapper
    a.header__icon(href='./index.html')
      img(src='./img/news.png' alt="image 'Company logo'")

    nav.menu
      ul.menu__list
        li.menu__uplink
          a(href='' data-goto='.anchor_1') First word
          span.menu__arrow
          ul.menu__sub-list
            li.menu__downlink
              a(href='') First unknow link
            hr
            li.menu__downlink
              a(href='') Second unknow link
            hr
            li.menu__downlink
              a(href='') Third unknow link
        li.menu__uplink
          a(href='' data-goto='.anchor_2') Second word
          span.menu__arrow
          ul.menu__sub-list
            li.menu__downlink
              a(href='') First unknow link
        li.menu__uplink
          a(href='' data-goto='.anchor_3') Third word
          span.menu__arrow
          ul.menu__sub-list
            li.menu__downlink
              a(href='') First unknow link
            hr
            li.menu__downlink
              a(href='') Second unknow link

    .burger-menu
      span
