main.main.anchor_0

  .article.anchor_1
    section.article__wrapper
      h1.article__title Amazing title
        img.article__title-img(src='./img/megaphone.webp' alt="image 'Megaphone'")
      .article__content
        .article__info
          .article__image
            img(src='https://picsum.photos/seed/meme/200' alt='Randomly generated image')
          .article__panel
            label.like(for='like')
              input#like(type='button')
              | 214
            label.dislike(for='dislike')
              input#dislike(type='button')
              | 57
        .article__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam rerum labore corporis quisquam consequuntur, beatae laboriosam architecto pariatur eaque accusantium eveniet voluptates assumenda.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi similique suscipit excepturi, perspiciatis corporis veniam atque.
          span.article__author - Jessy P.
        a.article__link(href='')
          img(src='./img/arrow-right-circle.svg' alt='pointer')
          | read more...
        img.bookmark(src='./img/bookmark.webp' alt="image 'Bookmark'")

  .article.anchor_2
    section.article__wrapper
      h1.article__title An even more amazing title
        img.article__title-img(src='./img/newspaper.webp' alt="image 'Newspapaer'")
      .article__content
        .article__info
          .article__image
            img(src='https://picsum.photos/seed/keke/200' alt='Randomly generated image')
          .article__panel
            label.like(for='like')
              input#like(type='button')
              | 649
            label.dislike(for='dislike')
              input#dislike(type='button')
              | 32
        .article__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsa est voluptate saepe dolorem, nesciunt aliquam aut debitis, odio consequatur accusamus consequuntur quas consectetur unde doloremque fugit cumque. Error, omnis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi et libero.
          span.article__author - Edward K.
        a.article__link(href='')
          img(src='./img/arrow-right-circle.svg' alt='pointer')
          | read more...
        img.bookmark(src='./img/bookmark.webp' alt="image 'Bookmark'")

  .article.anchor_3
    section.article__wrapper
      h1.article__title And the most amazing title
        img.article__title-img(src='./img/fake.webp' alt="image 'Fake'")
      .article__content
        .article__info
          .article__image
            img(src='https://picsum.photos/seed/pepe/200' alt='Randomly generated image')
          .article__panel
            label.like(for='like')
              input#like(type='button')
              | 332
            label.dislike(for='dislike')
              input#dislike(type='button')
              | 21
        .article__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit commodi. Ullam magnam eum doloribus eaque ea corporis voluptatibus! Ut, voluptas?
          span.article__author - Robert D.
        .article__text
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quia, blanditiis modi nulla assumenda nesciunt molestiae fugiat ratione mollitia ab corporis blanditiis modi nulla.
        a.article__link(href='')
          img(src='./img/arrow-right-circle.svg' alt='pointer')
          | read more...
        img.bookmark(src='./img/bookmark.webp' alt="image 'Bookmark'")

  a.main__link-up(href='')
    span.main__link-arrow
    span.main__link-arrow
