.slider
  .slider__blure-image
  .slider__sub-title
    h1 Lorem ipsum dolor.
    h2 - sit amet.

  .slider__wrapper

    .slider__container
      .slider__track
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .slider__indicators

    .slider-borders
      .border-line
      .border-line

    button.slider__control.slider__control_prev
    button.slider__control.slider__control_next

  .slider__sup-title
    p sed do eiusmod tempor

  a.slider__link-down(data-goto='.anchor_0')
    span.slider__link-arrow
