.slider
  .slider__wrapper

    .slider__container
      .slider__track
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slider__item
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .slider__indicators

    .slider-borders
      .border-line
      .border-line

    button.slider__control.slider__control_prev
      img(src="./img/chevron-left.svg", alt="left arrow")
    button.slider__control.slider__control_next
      img(src="./img/chevron-right.svg", alt="right arrow")
