.slider
  .slider__wrapper
    .slider__items
      .slider__item
      .slider__item
      .slider__item
      .slider__item
      .slider__item

    .slider__indicators
      a.slider__indicator-case(href = "#")
        .slider__indicator-line
      a.slider__indicator-case(href = "#")
        .slider__indicator-line
      a.slider__indicator-case._active(href = "#")
        .slider__indicator-line
      a.slider__indicator-case(href = "#")
        .slider__indicator-line
      a.slider__indicator-case(href = "#")
        .slider__indicator-line

    .slider-borders
      .border-line
      .border-line
      .border-line
      .border-line

    a.slider__control.slider__control_prev(href = "#")
      img(src="./img/arrow-left.svg", alt="left arrow")
    a.slider__control.slider__control_next(href = "#")
      img(src="./img/arrow-right.svg", alt="right arrow")
